.container{
    width:100%;
    height:100%;
    background-color:#ecf0f1;
    border-radius: 10px;
    font-family: monseratt;
}

.innerContainer{
    width:100%;
    height:100%;
}


.header{
    height: 10%;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top : 20px;
}

.places{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place{
    margin : 10px;
}